*{
    padding: 0;
    margin: 0 auto;
}
.banner-happy-new{
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: bold;
font-weight: 400;
padding-top: 177px;
}
.banner-h1
{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-style: bold;
font-size: 72px;
padding-bottom: 177px;

}
.percent65of{
    margin-top: 120px;
}
.percentage-of
{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
gap: 120px;
}
.second-percent
{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top:48px;
}
.all-catagoris{
color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.first-pic{
width: 802.9px;
height: 500px;
flex-shrink: 0;
}
.midnight-perty{
    background-image: url('../images/Vectorrr.png');
    width: 1300px;
    height: 550px;
   flex-shrink: 0;
   
}
.images-2{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.midnight-header{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
margin-left: 126px;
margin-top: 126px;
}
.midnight-parragraph{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-left: 126px;
}
.midnight-button{
    color: #FFF;
    background:black;
font-family: Inter;
font-size: 20px;
text-transform: uppercase;
margin-left: 158px;
margin-bottom: 142px;
}


.newyear-time-date{
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.time-date-span{
    color: #F00;
padding-top: 100px;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.btn-join-now{
    color: #FFF;
text-align: center;
border-radius: 30px;
background: #F00;
font-family: Inter;
font-size: 25px;
font-weight: 700;
text-transform: uppercase;
    
}
.newyear-time-date{
width: 1300px;
height: 470px;
background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);


}
.functio-section{
    margin-top: 120px;
}
.offer-section
{
    display: flex;
}
.offer-first-parr{
    color: #F00;
font-family: Inter;
font-size: 24px;

}
.offer-head2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
text-transform: capitalize;
}
.offer-second-parra{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.offer2024
{
    margin-left: 30px;
}
.offer-2024head{
    color: #F00;
font-size: 48px;
font-weight: 700;
}
.ellips
{
border-radius: 400px;
border: 15px solid #F00;
}
.offer2024-parr{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;

}.offer-comig-soon
{
    margin-right: 30px;
}
.Function{
    text-align: center;
    margin-top: 120px;
    color: #070211;
font-family: Inter;
font-size: 24px;

}
.function-holiday{
    color: #F00;
text-align: center;
font-size: 72px;
font-weight: 900;
}
.function-head1{
    color: #070211;
    text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.functiom-perra{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 20px;
font-weight: 500;
}
.group-75{
    display: flex;
}
.group-44{
    width: 206px;
    height: 206.841px;
    flex-shrink: 0;
}
.rectengle-1{
    width: 429px;
    height: 433px;
    float: left ;
}
.rectengle-2{
        display: block;
        margin-top: -230px;
        z-index: -2;
}
.best-gift-head4{
color: #F00;
margin-top: 120.07px;
font-size: 24px;
font-weight: 500;
}
.best-gift-head1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.best-gift-parra{
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
}
.best-gift-photo{
    display: flex;
}
.best-gift-photo123{
    margin: 24px;
}
.best-gift-photo-2nd{
    display: flex;
}
.best-gift-photo456{
    margin: 24px;
}
.sub-mailbox{
display: flex;
width: 150px;
height: 150px;
margin-top: 80px 585px;
}
.sub-h1{
color: #070211;
margin-top: 40px;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;

}
.sub-parra{
color: rgba(7, 2, 17, 0.60);
margin-top: 22px;
margin-bottom: 48px;
text-align: center;
font-size: 20px;
font-weight: 400;
}
.sub-section
{
width: 1320px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.sub-input{
margin-left: 250px;
width: 648px;
height: 72px;
border-radius: 50px;
background: #FFF;
}
.sub-button{
width: 210px;
height: 72px;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
.sub-span{
    color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
}
.footer-container
{
    background: #070211;
    width: 1600px;
height: 609px;
}
.footer{
    display: flex;
}
.footer-1st{
    color: #FFF;
font-size: 24px;
font-weight: 500;
margin-top: 140px;
margin-left: 120px;
}
.footer-2nd{
    color: #FFF;
font-size: 24px;
font-weight: 500;
margin-top: 120px;
}
.footer-3rd
{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.cal{
    width: 24px;
height: 24px;
margin-top: 120px;

}
.web{
 width: 24px;
height: 24px;
}
.web-flex{
    display: flex;
}
.call-flex{
    display: flex;
}
.call-web{
    display: block;
}
.horizontal-1st{
 background: rgba(255, 255, 255, 0.15);
width: 1320px;
height: 1px;
margin-top: 25px;
}
.icon-container{
    display: inline;
}
.icon-facbook
{
width: 64px;
height: 64px;
margin-top: 50px;
padding-top: 298px;
padding-left: 640px;
}
.icon-insta{
    width: 64px;
height: 64px;
margin-top: 48px;

}
.icon-twit{
 width: 64px;
height: 64px;
margin-top: 48px;

}
.icon-linke{
width: 64px;
height: 64px;
margin-top: 48px;

}
.horizontal-2nd
{
width: 1320px;
height: 1px;
background: rgba(255, 255, 255, 0.15);
margin-top: 48px;
}
.last-container{
    display: flex;
}
.last-h4
{
color: #FFF;
font-size: 24px;
font-weight: 500;
margin-top: 50px;
padding-right: 800px;
}
.Unsubscribe{
color: #FFF;
font-size: 24px;
font-weight: 500;
margin-top: 50px;
}